# ==== GENERAL ====
FASTAPI_ENV=development
# FASTAPI_ENV=production

# ==== DJANGO_ADMIN ====
DJANGO_ENV=DEV
ADMIN_PORT=8080
ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost,
DJANGO_SECRET_KEY=django-insecure-wxmj@9v*3#*^gtt=6ypajq(wcayorkz-vf_i7&(xy$dbg#%rr&
DEBUG=0
LANGUAGE_CODE=ru-RU
TIME_ZONE=Asia/Almaty
USE_I18N=1
USE_TZ=1
CELERY_BROKER_URL=amqp://rmuser:rmpassword@rabbitmq:5672/
CELERY_RESULT_BACKEND = redis://redis:6379/0
EVENT_URL=http://notification_api:8000
SENTRY_LOGIN=centry-notifications@yandex.kz
SENTRY_PASSWORD=splurgeola!
SENTRY_SDK_DSN=https://21ee2c2a9719f6549ef662e890d57da8@o4507996555051008.ingest.us.sentry.io/4507996556754944

# ==== POSTGRES ====
DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ==== REDIS ====
REDIS_HOST=redis
REDIS_PORT=6379

# ===== RABBITMQ =====
RABBITMQ_DEFAULT_USER=rmuser
RABBITMQ_DEFAULT_PASS=rmpassword

# ===== WEBSOCKET =====
WS_PROJECT_NAME=WEBSOCKET
WS_UVICORN_HOST=0.0.0.0
WS_UVICORN_PORT=8084
WS_GUNICORN_WORKERS_PER_CORE=1.5
WS_GUNICORN_WEB_CONCURRENCY=4
WS_GUNICORN_HOST=0.0.0.0
WS_GUNICORN_PORT=8084
WS_GUNICORN_LOG_LEVEL=info
WS_GUNICORN_KEEPALIVE=120
WS_GUNICORN_ERRORLOG=-

# ==== JWT ====
JWT_authjwt_secret_key=svoxWDGvJ
JWT_AUTHJWT_ALGORITHM=HS256
JWT_AUTHJWT_ACCESS_TOKEN_EXPIRES=30
JWT_AUTHJWT_REFRESH_TOKEN_EXPIRES=141

