[flake8]
# Игнорируемые коды ошибок
ignore = E226, E302, E41, EXE002, A003, W503

# Максимальная длина строки
max-line-length = 99

# Исключенные файлы и директории
exclude =
    tests*,
    **/migrations/**,
    venv,
    admin_panel/*,
    .git,
    __pycache__,
    .venv,
    build,
    tests/fixtures/*,
    .DS_Store,
    .env,
    *.pot,
    *.py[co],
    data_gen.py,
    run_listener.py,
    __init__.py

# Максимальная сложность кода
max-complexity = 10
